<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Want to report bugs? A new feature written in? I'm actively developing the app daily and will answer <a href="mailto:hello@sze.codes">emails</a> within 24 hours.
</p>