<h1>Dont B Lazy</h1>
  <% full_name = @user.name + " " + @user.last_name %>
<p>Hi <%= full_name %>,</p>

<p>
Welcome to Dont B Lazy! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, 
                                                    email: @user.email) %>
