<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  </br>
  <h2 class="text-center">New Account? Public Feed Brand Spanking New?</h2>
  <h2>Let's <%= link_to "Discover", users_path %> some users!</h2>
<% end %>