<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  <h4>Feed a little lonely? Let's <%= link_to "Discover", users_path %> some users!</h4>
<% end %>