<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
  </br>
  <h4 class="text-center">Brand Sparkling New Feed?</h4>
  </br>
  <h2>Let's <%= link_to "Discover", users_path %> some users!</h2>
<% end %>