<% if @deadlines %>
<table class="table table-hover">
  <tr>
    <th>Days To Complete</th> <!-- Colors based on current 24 hour cycle proximity to deadline -->
    <th>Goal</th>
  </tr>

<% @deadlines.each do |deadline| %>

  <tr>
    <td><%#= distance_of_time_in_words(Time.now, Time.now + deadline.days. , include_seconds: true) %></td>
    <td><%= deadline.title %></td>
  </tr>

</table>
<% end %>
<% end %>