<%= link_to gravatar_for(current_user, size: 50), current_user %>
  <% full_name = current_user.name + " " + current_user.last_name %>
<h1><%= full_name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.where(:active => true).count, "active goal") %></span>