<footer class="footer">
  <small>
    Don't B Lazy by <a href="http://www.sze.codes/">Sze Chan</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>